.indexBody {
    font-family: 'Segoe UI', Tahoma, Geneva;
}

.indexHeader {
    display: flex;
    justify-content: center;
    color: blue;
}

.indexMain {
    display: flex;
    flex-flow: column nowrap;
}

.indexDescription {
    text-align: center;
    align-self: center;
    color: blue;
}

.indexUserLinkContainer {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.indexUserLink {
    margin: 0 10px 20px 10px;
    background: blue;
    border-radius: 10px;
    padding: 0 10px;
}

.indexUserLink>a {
    text-decoration: none;
}

.indexLinkSubHeading {
    color: white;
}

.indexUserContainer {
    color: white;
    display: flex;
    flex-flow: column nowrap;
    text-align: center;
    align-items: center;
}

.indexUserIcon {
    font-size: 200px;
}

.signInBody {
    font-family: 'Segoe UI', Tahoma, Geneva;
}

.signInHeader {
    display: flex;
    justify-content: center;
    color: blue;
}

.signInMain {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.signinDescription {
    color: blue;
    text-align: center;
    align-self: center;
}

.signinForm {
    background: blue;
    color: white;
    border-radius: 6px;
    margin: 10px 5px;
}


.signInFieldsetInput {
    border: none;
}

.signInSubheading {
    text-align: center;
}

.signinInputContainer {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;
}

.siginLabels {
    text-align: right;
    align-self: center;
}

.signinInputs {
    border: none;
    border-radius: 3px;
    padding: 10px;
}

.signinButton {
    margin-right: 3px;
    padding: 10px 24px;
    background: white;
    color: blue;
    border: none;
    border-radius: 3px;
}

.signinButtonArea {
    padding-top: 10px;
    display: flex;
    justify-content: flex-end;
}

.signinLinkSignup {
    text-decoration: none;
    color: white;
}
