.indexBody {
    font-family: 'Segoe UI', Tahoma, Geneva;
}

.indexHeader {
    display: flex;
    justify-content: center;
    color: blue;
}

.indexMain {
    display: flex;
    flex-flow: column nowrap;
}

.indexDescription {
    text-align: center;
    align-self: center;
    color: blue;
}

.indexUserLinkContainer {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.indexUserLink {
    margin: 0 10px 20px 10px;
    background: blue;
    border-radius: 10px;
    padding: 0 10px;
}

.indexUserLink>a {
    text-decoration: none;
}

.indexLinkSubHeading {
    color: white;
}

.indexUserContainer {
    color: white;
    display: flex;
    flex-flow: column nowrap;
    text-align: center;
    align-items: center;
}

.indexUserIcon {
    font-size: 200px;
}

.userInBody {
    font-family: 'Segoe UI', Tahoma, Geneva;
}

.userInHeader {
    display: flex;
    justify-content: center;
    color: blue;
}

.userMain {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.userDescription {
    color: blue;
    text-align: center;
    align-self: center;
}

.userForm {
    background: blue;
    color: white;
    border-radius: 6px;
    margin: 10px 5px;
}


.userFieldsetInput {
    border: none;
}

.userSubheading {
    text-align: center;
}

.userInputContainer {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;
}

.userLabels {
    text-align: right;
    align-self: center;
}

.userInputs {
    border: none;
    border-radius: 3px;
    padding: 10px;
}

.userButton {
    margin-right: 3px;
    padding: 10px 24px;
    background: white;
    color: blue;
    border: none;
    border-radius: 3px;
}

.userButtonArea {
    padding-top: 10px;
    display: flex;
    justify-content: flex-end;
}

.userLink {
    text-decoration: none;
    color: white;
}
